  <section class="footer-start">
    <div class="footer-info">
        <p class="footer-logo">
      Bhaveydeep Sethi<span class="dot"></span></p>

      <p class="footer-desc">Information Technology student passionate about data analytics, web development, and solving real-world problems.</p>
    </div>

    <div class="footer-links">
        
            <h4 class="footer-pages-head">Pages</h4>
            <ul class="footer-pages">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="projects.html">Portfolio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul> 
        

        
            <h4 class="footer-pages-head">Find Me</h4>
            <ul class="footer-findme">
                <li><a href="https://github.com/bhaveydeep-gif">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/bhavey-sethi-03776413b/">Linkdln</a></li>
                <li><a href="index.html">Twitter</a></li>
                <li><a href="mailto:bhaveydeep@gmail.com">Email</a></li>
            </ul>
        
    </div>

    <footer class="footer-end">
        <p class="foot-footer">© 2026 Bhaveydeep Sethi — Built with JavaScript & HTML/CSS</p>
    </footer>
  </section>

